.root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .form{
    .additionalText{
      color: #1900D5;
      margin-left: 4px;
      cursor: pointer;
    }
  }
}

